*{
    margin: 0;
    padding: 0;
}
body{
    background: rgb(247, 247, 252);
}
.fl{
    float: left;
}
.condition{
    background: #fff;
    border-radius: 2px;
    margin: 10px 10px 20px;
}
.condition h3{
    line-height: 60px;
    padding-left: 20px;
    border-bottom: 1px solid rgb(248, 250, 252);
}
.condition .box{
    padding: 0 20px;
    color: #333;
    overflow: hidden;
}
.condition .box div.cell,.condition .box div.selected{
    margin: 20px 0;
    overflow: hidden;
    color: #666;
    line-height: 30px;
}
.condition .box div.cell .left,.condition .box div.selected .left{
    font-size: 16px;
}
.condition .box div.cell .right,.condition .box div.selected .right{
    font-size: 14px;
}
.condition .box div.cell .right span.cell{
    display: inline-block;
    padding: 0 10px;
    margin-right: 5px;
    border-radius: 3px;
    cursor: pointer;
}
.condition .box div.selected .right span.cell{
    display: inline-block;
    padding: 0 10px;
    margin-right: 5px;
    border-radius: 3px;
    cursor: pointer;
    background: rgb(247, 247, 252);
    color: aqua;
}
.condition .box div.selected .right span.cell .close{
    display: inline-block;
    margin-left: 5px;
    color: #333;
}
.condition .box div.cell .right span.cell.active{
    background: rgb(247, 247, 252);
    color: aqua;
}
.condition .box div.cell .right span.cell .close{
    display: none;
    margin-left: 5px;
    color: #333;
}
.condition .box div.cell .right span.cell.active .close{
    display: inline-block;
}
.search-box{
    width: 200px;
    height: 30px;
    background: rgb(247, 247, 252);
    border-radius: 15px;
}
.search-box .search{
    width: 30px;
    height: 30px;
    float: left;
    text-align: center;
    cursor: pointer;
}
.search-box input{
    border: none;
    outline: none;
    width: 140px;
    height: 30px;
    background: rgb(247, 247, 252);
    font-size: 12px;
    float: left;
}
.search-box .clear{
    width: 30px;
    height: 30px;
    float: left;
    cursor: pointer;
    text-align: center;
}
.bottom{
    margin: 0 10px;
    background: #fff;
    border-radius: 2px;
}
.bottom h3{
    line-height: 60px;
    padding-left: 20px;
    border-bottom: 1px solid rgb(248, 250, 252);
}
table{
    width: 100%;
    padding: 0 20px;
}
thead{
}
thead tr th{
    height: 50px;
    font-size: 16px;
    color: #666;
    border-bottom: 1px solid rgb(248, 250, 252);
}
tbody tr td{
    height: 60px;
    text-align: center;
    color: #666;
    border-bottom: 1px solid rgb(248, 250, 252);
}